*.exe
test.db
*.html
*.pdf
source/webapp/webapp
source/copy-script/copy-script
/copy-script
todo.txt
node_modules
build-errors.log
*_templ.go
tmp
*_templ.txt
bin

# The app reads the connection strings and stuff from this
configuration.json
