package templates

import "webapp/source_map"
import "strconv"

type State struct {
    Counter int
    User int
}

templ Counts(state *State) {
    <div id="counts">
        <div>Global: { strconv.Itoa(state.Counter) }</div>
        <div>User: { strconv.Itoa(state.User) }</div>
    </div>
}

templ form() {
	<form hx-post="/" hx-target="#counts">
		<div><button type="submit" name="count" value="count">Count</button></div>
		<div><button type="submit" name="user" value="user">User</button></div>
	</form>
}

templ head() {
    <head>
        <script type="module" src={ source_map.Remap("src/main.ts") }></script>
    </head>
}

templ Page(state *State) {
    @head()
    <body>
        @Counts(state)
        @form()
    </body>
}

