package test

import "strconv"
import "webapp/templates/common"

type State struct {
    Counter int
    User int
}

templ Counts(state *State) {
    <div id="counts">
        <div>Global: { strconv.Itoa(state.Counter) }</div>
        <div>User: { strconv.Itoa(state.User) }</div>
    </div>
}

templ form() {
	<form hx-post="/" hx-target="#counts">
		<div><button type="submit" name="count" value="count">Count</button></div>
		<div><button type="submit" name="user" value="user">User</button></div>
	</form>
}

templ wrapper(state *State) {
    @Counts(state)
    @form()
}

templ Page(state *State) {
    @common.Page(wrapper(state))
}

